{% extends 'layout.html' %}

{% block body %}

    <h2>About Us</h2>
    <p class="lead">
            EC Project is managed by <a href="http://www.hec.ulg.ac.be/en/home">ULiege</a> students under supervision of <a href="https://www.uliege.be/cms/c_9054334/fr/repertoire/?uid=U220239&mr_histstate=1562515872959">Prof. Ashwin Itto </a>:
        </p>
    <ul class="list-style-type:disc;">
      <li >Castillo Sergio</li>
      <li >Doloris Samy</li>
      <li >Mirisola Francesco</li>
      <li >Poumay Judicaël</li>
    </ul>

{% endblock %}